spring:
  jpa:
    database: h2
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate.format_sql: true

logging:
  level:
    org:
      hibernate:
        type: trace